<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>PowerView_XP</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/beans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet id="Servlet_1">
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param id="InitParam_1">
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param id="InitParam_2">
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param id="InitParam_3">
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet id="Servlet_2">
		<servlet-name>SystemInit</servlet-name>
		<servlet-class>com.lcjr.pvxp.util.SystemInit</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping id="ServletMapping_2">
		<servlet-name>SystemInit</servlet-name>
		<url-pattern>/SystemInit</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	<servlet-mapping id="ServletMapping_1">
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list id="WelcomeFileList_1">
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page id="ErrorCodeErrorPage_1">
		<error-code>404</error-code>
		<location>/Error404.jsp</location>
	</error-page>
	<error-page id="ErrorCodeErrorPage_2">
		<error-code>500</error-code>
		<location>/Exception.jsp</location>
	</error-page>
	<error-page id="ExceptionTypeErrorPage_1">
		<exception-type>*</exception-type>
		<location>/Exception.jsp</location>
	</error-page>
	<jsp-config>
		<taglib id="TagLibRef_1">
			<taglib-uri>/tags/struts-bean</taglib-uri>
			<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
		</taglib>
		<taglib id="TagLibRef_2">
			<taglib-uri>/tags/struts-html</taglib-uri>
			<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
		</taglib>
		<taglib id="TagLibRef_3">
			<taglib-uri>/tags/struts-logic</taglib-uri>
			<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
		</taglib>
		<taglib id="TagLibRef_4">
			<taglib-uri>/tags/struts-nested</taglib-uri>
			<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
		</taglib>
		<taglib id="TagLibRef_5">
			<taglib-uri>/tags/struts-tiles</taglib-uri>
			<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
		</taglib>
		<taglib id="TagLibRef_6">
			<taglib-uri>/tags/app</taglib-uri>
			<taglib-location>/WEB-INF/app.tld</taglib-location>
		</taglib>
	</jsp-config>



</web-app>
